<html>
  <head>
  </head>
  <body>
    <h1>plop</h1>
    {% if urlsShortened|length > 0 %}
      <table>
        <tr>
          <th> Tag </th>
          <th> Url </th>
          <th> Creation Date </th>
          <th>Updatedat</th>
          <th>Lastusedat</th>
          <th>Expireat</th>
          <th>Nbused</th>
          <th>Maxalloweduse</th>
          <th>Actions</th>
        </tr>
      {% for urlShortened in  urlsShortened %}
        <tr>
          <td> {{ urlShortened.tag }} </td>
          <td> {{ urlShortened.url }} </td>
          <td>{% if urlShortened.createdAt %}{{ urlShortened.createdAt|date('d/m/Y H:i') }}{% endif %}</td>
          <td>{% if urlShortened.updatedAt %}{{ urlShortened.updatedAt|date('d/m/Y H:i') }}{% endif %}</td>
          <td>{% if urlShortened.lastUsedAt %}{{ urlShortened.lastUsedAt|date('d/m/Y H:i') }}{% endif %}</td>
          <td>{% if urlShortened.expireAt %}{{ urlShortened.expireAt|date('d/m/Y H:i') }}{% endif %}</td>
          <td>{{ urlShortened.nbUsed }}</td>
          <td>{{ urlShortened.maxAllowedUse }}</td>
          <td>todo</td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </body>
</html>
